.block{
    height: fit-content;
    position: sticky !important;
    top:0%;
    background-color: white;
    z-index: 10;
}
.navbar-full{
    position: sticky !important;
    top:0%;
    height: 86px;
    /* margin: 8px 50px; */
    gap: 30%;
    z-index: 99999;
    width: 100%;
    display: flex;
    align-items: center ;
    justify-content: center;
    box-sizing: border-box;
    background-color: white;
}

.navigation{
    gap: 15%;
    margin: 0px;
    padding: 8px 50px;
    z-index: 10;
    display: flex;
    align-items: center ;
    justify-content: center;
}

.link-item{
    text-decoration: none;
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.navbar-right{
    position: sticky;
    top: 0;
}

.nav-mob{
    position: sticky !important;
    top:0%;
    height: 86px;
    margin: 8px 50px;
    gap: 20%;
    z-index: 99999;
    width: 100%;
    display: flex;
    align-items: center ;
    justify-content: space-around;
    box-sizing: border-box;
    background-color: white;
}

#logo{
    position: relative;
    top: 0;
    width: 80px;
}
#Navbar-left{
    text-decoration: none;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 26px;
    margin-right: 20px;
}



.extra-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navbar{
    position: relative;
}

button {
    cursor: pointer;
    background: transparent;;
    border: none;
    font-size: 20px;
  }
  
  .navbar .toggle {
    position: fixed;
    left: 30px;
    top: 40px;
    cursor: pointer;
    background: transparent;;
    border: none;
  }
  
  .menu-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #fff;
    left: -4rem;
    top:1rem;
    width: 0;
    overflow: hidden;
    max-width: 290px;
    z-index: 9;
    font-size: 18px;
    box-shadow: 0 10px 15px -3px rgb(46 41 51 / 8%), 0 4px 6px -2px rgb(71 63 79 / 16%);
    display: none;
    transform: translateX(-100px);
    transition: transform ease-in-out 0.2s;
    /* transition: width ease 0.2s; */
  }
  
  .menu-nav.show-menu {
    display: flex;
    width: 10rem;
    transform: translateX(0px);
  }
  .menu-links{
    color: black;
    padding: 1rem;
  }

  .menu-nav li a, .menu-nav li span {
    display: block;
    padding: 1rem;
    color: black;
  }

@media screen and (max-width: 800px) {
    
    #logo{
        max-width: 60px;
        position: relative;
        top: -20px;
    }
    .link-item{
        font-size: 12px;
        line-height: 14px;
    }
  }