.navbar{
    position: sticky !important;
    top:0%;
    height: 86px;
    /* margin: 8px 50px; */
    gap: 30%;
    z-index: 99999;
    width: 100%;
    display: flex;
    align-items: center ;
    justify-content: center;
    box-sizing: border-box;
    background-color: white;
}

.navigation{
    gap: 15%;
    margin: 0px;
    padding: 8px 50px;
    z-index: 10;
    display: flex;
    align-items: center ;
    justify-content: center;
}

.link-item{
    text-decoration: none;
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.navbar-right{
    position: sticky;
    top: 0;
}

.nav-mob{
    position: sticky !important;
    top:0%;
    height: 86px;
    /* margin: 8px 50px; */
    gap: 30%;
    z-index: 99999;
    width: 100%;
    display: flex;
    align-items: center ;
    justify-content: space-around;
    box-sizing: border-box;
    background-color: white;
}

#logo{
    position: relative;
    top: 0;
    width: 80px;
}
#Navbar-left{
    text-decoration: none;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 26px;
    margin-right: 20px;
}

#dropdown-basic-button{
    border: none;
    width: 100px;
    color:black;
    background-color:transparent;
    font-size: 18px;
}
.dropdown{
    width: 5px;
    margin-top: -6px;
    margin-left: -20px;
    margin-right: 20px;
    background-color: white;
}

.dropdown-item{
    color:black;
}
#dropdown-basic-button:hover{
    font-style: italic;
    font-weight: bold;
    font-stretch: expanded;
    
}
.dropdown-menu{
    background-color: white;
    border: none;
}
.dropdown-item:hover{
    background-color:transparent;
    font-style: italic;
    font-weight: bold;
    font-stretch: expanded;
    color: black;
}
.dropdown-toggle{
    display: flex;
    background-color: white;
}
.dropdown-toggle::after{
    display: none;
}

.extra-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media screen and (max-width: 800px) {
    .navbar{
        gap: 10%;
    }
    #logo{
        max-width: 60px;
        position: relative;
        top: -20px;
    }
    .link-item{
        font-size: 12px;
        line-height: 14px;
    }
  }